
@{
    ViewBag.Title ="Details";
}
<div class="container">
    <h3> Employee Details:</h3>
    <table class="table">
        <tr>
            <td> Employee Name </td>
            <td>  @ViewBag.employeename </td>
        </tr>
        <tr>
            <td>Employee Id</td>
            <td> @ViewBag.employeeid</td>
        </tr>
        <tr>
            <td>Employee Department</td>
            <td> @ViewBag.department</td>
        </tr>
        <tr>
            <td>Employee Designation</td>
            <td>@ViewBag.designation</td>
        </tr>
       <tr>
           <td>Employee Salary</td>
           <td>@ViewBag.salary</td>
       </tr>
    </table>

</div>